<h1>POST Request Received</h1>
   <h3>URL Query String Parameters</h3>
   <table border="1">
      <tr>
         <th>Name</th>
         <th>Value</th>
      </tr>
      {{#each queryList}}
         <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
         </tr>
      {{/each}}
   </table>
   <h3>Request Body Parameters</h3>
   <table border="1">
      <tr>
         <th>Name</th>
         <th>Value</th>
      </tr>
      {{#each bodyList}}
         <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
         </tr>
      {{/each}}
   </table>
