<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Get API Key</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Steam Web API Tutorial</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get A Key <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/intro">Intro to APIs</a></li>
                  <li><a href="/browser-request">Browser Request</a></li>
                  <li><a href="/server-request">Server Request</a></li>
                  <li><a href="/game-info">Get Game Info</a></li>
                  <li><a href="/game-icon">Get Game Icons</a></li>
		  <li><a href="/end">The End</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Get A Steam Web API Key</h1>
        <p>Before we can start using the Steam Web API to do some cool things, we need to get an API key. Keys are unique codes that are used to identify the user. Think of it as a social security number. It's not something you want to show other people or allow others to use. To get a key, go to the <a href="https://steamcommunity.com/dev"> Steam Web API Documentation</a> page, go to the "Obtaining an Steam Web API Key" section, and follow the instructions there. If you don't already have a steam account, create one now. (Note that you need to have made at least a $5 purchase on Steam before you are allowed to get an API key.) If you already have an account, log in and you will be directed to this page. <img src="getAPI.png"></p>
		<p>The domain page field is not very important and is not actually used, so you can just enter something that will help you remember what your website or app is. After clicking "Register", you will receive your Steam Web API Key and be given an option to revoke the key, which you don't want to do because we need that key! Now that we have the key, we can use it to request information from Steam. Keep in mind that we are limited to 100,000 calls per day to prevent call spamming. Let's get started!
        <p>
          <a class="btn btn-lg btn-primary" href="/browser-request" role="button">Simple Browser API Request &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
	
	<footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="http://steampowered.com">Powered By Steam</a></p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
